.pullloading {
  text-align: center;
}

.loading {
  display: inline-block;
  text-align: center;
  opacity: .4;
  margin: 10px 5px;
}

.loading .loading-p1 {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

.loading .loading-p2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loading .loading-p3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loading span {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-right: 3px;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  border-radius: 50%;
  -webkit-animation: loading-keyframes 0.4s infinite alternate;
  animation: loading-keyframes 0.4s infinite alternate;
}

@-webkit-keyframes loading-keyframes {
  0% {
    -webkit-transform: translateY(0) scale(0.3);
    transform: translateY(0) scale(0.3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #000;
    opacity: 1;
  }
}

@keyframes loading-keyframes {
  0% {
    -webkit-transform: translateY(0) scale(0.3);
    transform: translateY(0) scale(0.3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #000;
    opacity: 1;
  }
}
